.container {
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.box {
  border-width: 1px;
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.selected {
  background-color: red;
  color: white;
}

